.prodContainer {
    width: 100%;
    height: 1500px;
    display: flex;

    button {
        cursor: pointer;
        border: none;

        transition: all 0.5s;
    }

    button:active {
        transform: scale(0.8);
    }

    .leftSect {
        width: 50%;
        height: 100%;
        background-color: antiquewhite;

        display: flex;
        justify-content: center;
        
        
        .imgContainer {
            margin-top: 12%;
            width: 60%;
            height: 400px;
            position: relative;
            
            img {
                width: 100%;
                height: 100%;
                background-color: #e4e3e4d0;
                box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
                
            }
        }
    }

    .rightSect {
        width: 50%;
        height: 100%;
        display: flex;
        justify-content: center;

        .rightCont {
            margin-top: 12%;
            width: 80%;
            height: 340px;
            padding: 30px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 5px;
            background-color: antiquewhite;

            box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

            div {
                display: flex;
                gap: 15px;

                span {
                    font-weight: bold;
                }

            }

            .detailContFooter {
                width: 100%;
                height: 40px;
                margin-top: 50px;

                display: flex;
                align-items: center;

                .detailContLeftFooter {
                    width: 50%;
                    height: 100%;

                    display: flex;
                    align-items: center;

                    i {
                        background-color: rgb(10, 159, 252);

                        box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;

                        height: fit-content;
                        padding: 5px;
                        border-radius: 10px;
                    }
                }

                .detailFooterRightSection {
                    width: 50%;
                    height: 100%;

                    display: flex;
                    justify-content: flex-end;
                    align-items: center;

                    button {
                        width: 30px;
                        height: 30px;
                        border-radius: 50%;
                        font-size: 20px;
                        color: rgb(7, 80, 251);

                        box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
                    }

                    .addCardBtn {
                        width: fit-content;
                        height: fit-content;
                        border-radius: 0;
                        padding: 10px;
                        border-radius: 20px;

                        font-family: 'Times New Roman', Times, serif;

                    }

                    .addCardBtn:active {
                        transform: none;
                    }


                }
            }
        }

    }

    .prodName {
        position: absolute;
        width: 100%;
        height: 10%;

        display: flex;
        align-items: center;
        justify-content: center;

        p {
            font-size: 30px;
            padding: 10px;
            border-radius: 10px;
            border: 1px solid black;
            width: fit-content;
            min-width: 20%;
            text-align: center;
            font-weight: bold;


            box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;

            color: rgb(243, 11, 11);
        }
    }

    .starRaitings {
        position: absolute;
        width: fit-content;
        border-radius: 50%;
        padding: 10px;
        height: 150px;

        top: 90%;
        left: 50%;
        transform: translate(-50%, 0);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 10px;

        border: 20px antiquewhite solid;
        background-color: #e4e3e4d0;


        p {
            font-size: 10px;
        }

    }

}