.stars {
    display: flex;
    align-items: center;
    justify-content: center;

    gap: 5px;

    .starItem {
        width: 25px;
        height: 25px;
    }
}

.active {
    color: rgb(243, 130, 50);
}
