.contactPageContainer {
    width: 100%;
    height: fit-content;
    background-color: rgb(130, 226, 226);
    
    .contactTopContainer {
        background-image: url("../../img/contactBG.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;

        width: 100%;
        height: 500px;

        position: relative;

        .topDetailContainer {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;


            width: 30%;
            height: fit-content;
            padding: 50px;
    
            position: absolute;
            top: 100px;
            left: 50px;
        
            gap: 40px;
        
            background-color: rgb(130, 226, 226);
        }
        
        h1 {
            width: 80%;
            height: fit-content;
            font-size: 20px;
        }
        
    }
}