.discountContainer {
    display: flex;
    flex-direction: column;
    padding: 20px 0;
    gap: 20px;
    align-items: center;

}

.discountProducts {
    max-width: 100%;
    height: fit-content;

    padding: 20px;

    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

    gap: 40px;

}